/* Global styles */

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f7f7f7;
    color: #3c3c3c;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #6e47c9;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Header */
  
  header {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    font-size: 48px;
    color: #6e47c9;
  }
  
  /* Navigation */
  
  nav {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    font-size: 18px;
    font-weight: bold;
    color: #6e47c9;
  }
  
  /* Main Content */
  
  main {
    margin: 40px auto;
    max-width: 800px;
  }
  
  section {
    border-radius: 75px;
    background: #d9cafe;
    box-shadow:  17px 17px 39px #aea2cb,
             -17px -17px 39px #fff2ff;
  }
  
  article h3 {
    color: #6e47c9;
    font-size: 24px;
    margin: 0 0 20px;
  }
  
  article p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
  }
  
  /* Footer */
  
  footer {
    background-color: #6e47c9;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  
  /* Neumorphism styles */
  
  .card {
    border-radius: 75px;
    background: #d9cafe;
    box-shadow:  17px 17px 39px #aea2cb,
                 -17px -17px 39px #fff2ff;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .button {
    border-radius: 75px;
    background: #d9cafe;
    box-shadow:  17px 17px 39px #aea2cb,
             -17px -17px 39px #fff2ff;
    color: #fff;
    padding: 10px 20px;
  }
  
  .button:hover {
    background-color: #4b2e82;
  }